.d-header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1001;
    background-color: $header_background;
    box-shadow: 0 2px 4px -1px rgba(0,0,0, .25);

    .docked & {
      position: fixed;
      backface-visibility: hidden;  /** do magic for scrolling performance **/
    }

    .contents {
      margin: 8px 0;
    }

    .title {
      float: left;
    }

    #site-logo {
      max-height: 40px;
    }

    .fa-home {
      font-size: 1.643em;
    }


    #ivan-create-topic {
      position: static;
      margin-top: 7px;
      margin-right: 20px;
      margin-left: 10px;
      background-color: #989899!important;
      color: #fff!important;
      padding-top: 0;
      padding-bottom: 0;
      font-family: NHaasGroteskTXStd-55Rg,helvetica,sans-serif!important;
      border: 0;
      font-size: 1.1rem;
      border-radius: 15px;
      height: 30px;
      line-height: 30px;
      border: solid 1px #ef2b2d;
    }

    .panel {
      float: right;
      position: relative;
    }

    .login-button, button.sign-up-button {
      float: right;
      margin-top: 7px;
      padding: 6px 10px;
      font-size: 17px;
      font-family: NHaasGroteskTXStd-55Rg,helvetica,sans-serif!important;
      .fa { margin-right: 3px; }
    }

    button.login-button {
      margin-left: 7px;
    }

    button.sign-up-button {
      margin-left: 3px;
    }

    .icon

    .icons {
      float: left;
      text-align: center;
      margin: 0 0 0 5px;
      list-style: none;

      > li {
        float: left;
      }
      .icon {
        display: block;
        padding: 3px;
        color: dark-light-choose(scale-color($header_primary, $lightness: 50%), $header_primary);
        text-decoration: none;
        cursor: pointer;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        transition: all linear .15s;


        &:hover {
          color: $primary;
          background-color:  dark-light-diff($primary, $secondary, 90%, -60%);
          border-top: 1px solid transparent;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
        }
        &:active {
          color: $primary;
          background-color: dark-light-diff($primary, $secondary, 90%, -60%);
        }
      }
      .drop-down-visible & {
        .active .icon {
          position: relative;
          color: #7b7b7b;
          background-color: $secondary;
          cursor: default;
          border-top: 1px solid dark-light-diff($primary, $secondary, 90%, -60%);
          border-left: 1px solid dark-light-diff($primary, $secondary, 90%, -60%);
          border-right: 1px solid dark-light-diff($primary, $secondary, 90%, -60%);
          &:after {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1101;
            width: 100%;
            height: 0;
            content: "";
            border-top: 1px solid $secondary;
          }
          &:hover {
            border-bottom: none;
          }
        }
      }
      [class^="fa fa-"] {
        width: 32px;
        height: 32px;
        font-size: 1.714em;
        line-height: 32px;
        display: inline-block;
      }
      .notifications {
        position: relative;
      }
      .badge-notification {
        position: absolute;
        top: -9px;
        z-index: 1;
        margin-left: 0;
      }
      .unread-notifications {
        right: -4px;
        background-color: scale-color($tertiary, $lightness: 50%);
      }
      .unread-private-messages {
        left: 82px;
      }
      .flagged-posts {
        left: 40px;
      }
    }
    .flagged-posts {
      background: $danger;
    }
}


.highlight-strong {
  background-color: dark-light-diff($highlight, $secondary, 40%, -45%);
}

.search-highlight {
  font-weight: bold;
}

#search-help table td {
  padding-right: 10px;
}

// we don't need this X to clear field
#search-term::-ms-clear {
  display: none;
}
